<div class="card bg-dark text-white" style="margin: 3%;">
    <div class="container">
        <div class="card-header">
            <h5>New List</h5>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 mb-2">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="form-label">Title:</label>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" id="list-title" placeholder="Title" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 mb-2">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="form-label">Language:</label>
                        </div>
                        <div class="input-group">
                            <select class="custom-select form-control" id="list-lang">
                                <option value="Arabic">Arabic</option>
                                <option value="French">French</option>
                                <option value="Italian">Italian</option>
                                <option value="Portuguese">Portuguese</option>
                                <option value="Russian">Russian</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 mb-3">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="form-label">Description:</label>
                        </div>
                        <div class="col-xs-8">
                            <input type="text" id="list-desc" placeholder="Description" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 mb-3">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="form-label">Color:</label>
                        </div>
                        <div class="col-xs-8">
                            <input type="color" id="list-color" placeholder="#000000" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="col-sm-12">
                <div class="row"></div>
                <div class="col-sm-12">
                    <div class="btn btn-secondary" id='newlist'>Submit</div>
                </div>
            </div>
        </div>

    </div>
</div>